<div class="flex items-center justify-between">
  <div class="flex items-center">
    <%= link_to screening.created_at.strftime("%B %d, %Y at %I:%M:%S %p"),
                screening_path(screening),
                class: "link link-primary" %>
  </div>

  <span class="text-sm text-base-content/60">
    <%= pluralize(screening.matches.count, 'match') %>
  </span>
</div> 