<div class="flex items-center justify-between">
  <div>
    <h2 class="text-3xl font-bold">
      Screening results for <%= @screening.screenable.display_name %>
    </h2>
    <p class="text-sm text-base-content/60 mt-2">
      Screening run on <%= @screening.created_at.strftime("%B %d, %Y at %I:%M%p") %>
    </p>
  </div>
</div>

<div class="mt-8 space-y-6">
  <% if @matches.any? %>
    <% @matches.each do |match| %>
      <%= render match %>
    <% end %>
  <% else %>
    <p class="text-base-content/60">No matches found</p>
  <% end %>
</div>