<div class="grid gap-4">
  <div class="grid grid-cols-2">
    <div class="stat">
      <div class="stat-title">First name</div>
      <div class="stat-value text-lg"><%= person.first_name %></div>
    </div>

    <div class="stat">
      <div class="stat-title">Last name</div>
      <div class="stat-value text-lg"><%= person.last_name %></div>
    </div>
  </div>

  <div class="stat">
    <div class="stat-title">Profession</div>
    <div class="stat-value text-lg"><%= Occupation.find_by(unit: person.profession)&.description&.strip&.singularize %></div>
  </div>
</div>
