<div>
  <p>
    <strong>First name:</strong>
    <%= person.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= person.last_name %>
  </p>

  <p>
    <strong>Profession:</strong>
    <%= Occupation.find_by(unit: person.profession)&.description&.strip&.singularize %>
  </p>
</div>
