<div id="<%= dom_id clientable %>">
  <p>
    <strong>First name:</strong>
    <%= clientable.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= clientable.last_name %>
  </p>

  <p>
    <strong>Profession:</strong>
    <%= Occupation.find_by(unit: clientable.profession)&.description&.strip&.singularize %>
  </p>
</div>
