<div class="space-y-12">
  <div class="border-b border-gray-900/10 pb-12">
    <h2 class="text-base/7 font-semibold text-gray-900">New Company Relationship</h2>
    <p class="mt-1 text-sm/6 text-gray-600">Add a new relationship between <%= @company.name %> and a person.</p>

    <%= render 'form', company_relationship: @company_relationship %>
  </div>
</div> 