<div class="card bg-base-100 shadow-xl p-6">
  <h2 class="card-title">Adverse Media Checks</h2>

  <div class="mb-6">
    <p class="text-sm text-base-content/60">
      Run adverse media checks to see if the client is associated with any adverse media.
    </p>
  </div>

  <%= render "adverse_media_checks/form", adverse_media_checkable: clientable %>

  <div id="adverse_media_checks_list" class="space-y-2 my-6">
    <%= turbo_frame_tag "adverse_media_checks" do %>
      <% clientable.adverse_media_checks.order(created_at: :desc).each do |check| %>
        <%= render check %>
      <% end %>
    <% end %>
  </div>
</div> 