<h2>Summary</h2>

<div class="space-y-4 mb-6 border-b pb-4">
  <% check.content_items.each do |item| %>
    <div class="markdown-content"><%= markdown_to_html(item) %></div>
  <% end %>
</div>

<h4>Citations</h4>

<ol>
  <% check.citations.each_with_index do |citation, index| %>
    <li class="py-1">[<%= index + 1 %>] <%= link_to citation, citation, target: "_blank", rel: "noopener noreferrer" %></li>
  <% end %>
</ol>
