<div class="bg-white shadow rounded-lg p-6">
  <h2>Screenings</h2>

  <div id="screenings_list" class="space-y-2 mb-6">
    <% clientable.screenings.reverse.each do |screening| %>
      <%= render screening %>
    <% end %>
  </div>

  <%= render "screenings/form", screenable: clientable %>
</div> 