<div class="mt-4" data-controller="client-search">
  <%= form_with url: clients_path, method: :get, data: { client_search_target: "form", turbo_frame: "search_results" } do |f| %>
    <%= f.hidden_field :nature, value: params[:nature] %>
    <label class="input input-bordered flex items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70">
        <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
      </svg>
      <%= f.text_field :query,
          value: params[:query],
          placeholder: "Search #{params[:nature] ? params[:nature].pluralize : 'clients'}",
          class: "grow",
          data: {
            client_search_target: "input",
            action: "input->client-search#search keyup->client-search#clear"
          } %>
    </label>
  <% end %>
</div>
