<div class="mt-4" data-controller="client-search">
  <%= form_with url: clients_path, method: :get, data: { client_search_target: "form", turbo_frame: "search_results" } do |f| %>
    <%= f.hidden_field :nature, value: params[:nature] %>
    <div class="form-control relative">
      <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <svg class="h-5 w-5 text-base-content/40" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
        </svg>
      </div>
      <%= f.text_field :query,
          value: params[:query],
          placeholder: "Search #{params[:nature] ? params[:nature].pluralize : 'clients'}",
          class: "input input-bordered w-full pl-10",
          data: {
            client_search_target: "input",
            action: "input->client-search#search keyup->client-search#clear"
          } %>
    </div>
  <% end %>
</div>
