<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <div class="space-y-8">
    <div>
      <h2 class="text-base font-semibold leading-7 text-gray-900">Risk Assessment</h2>
      <p class="mt-1 text-sm leading-6 text-gray-600">
        Review and update applicable risk factors for <strong><%= @client.clientable.display_name %></strong>
      </p>
    </div>

    <%= render "form", client: @client %>
  </div>
</div> 