<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <div class="space-y-8">
    <h2>Review and update information for <strong><%= @client.clientable.display_name %></strong></h2>

    <%= render "form", client: @client %>
  </div>
</div> 