<% content_for :title, "Risk assessment - #{@risk_assessment.client.display_name}" %>

<h1>Risk assessment for <%= link_to @risk_assessment.client.display_name, client_path(@risk_assessment.client) %></h1>

<%= render @risk_assessment %>