<%= form_with(model: AdverseMediaCheck.new(adverse_media_checkable: adverse_media_checkable), data: { turbo: true }, class: "mt-2") do |form| %>
  <%= form.hidden_field :adverse_media_checkable_id, value: adverse_media_checkable.id %>
  <%= form.hidden_field :adverse_media_checkable_type, value: adverse_media_checkable.class.name %>

  <div class="flex justify-center mb-6">
    <%= form.button type: "submit", class: "btn btn-primary" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
      </svg>
      Run adverse media check
    <% end %>
  </div>
<% end %>