<h2 class="text-lg font-bold">Summary</h2>

<div class="space-y-4">
  <% adverse_media_check.content_items.each do |item| %>
    <div class="markdown-content"><%= markdown_to_html(item) %></div>
  <% end %>
</div>

<% if adverse_media_check.adverse_media_found? %>
  <div class="divider"></div>
  <h4 class="font-semibold">Citations</h4>

  <ol class="list-decimal list-inside">
    <% adverse_media_check.citations.each_with_index do |citation, index| %>
      <li class="py-1">[<%= index + 1 %>] <%= link_to citation, citation, target: "_blank", rel: "noopener noreferrer", class: "link link-primary" %></li>
    <% end %>
  </ol>
<% end %>
