<div class="max-w-3xl mx-auto p-6">
  <%= form_with(model: @company, data: { turbo: false }) do |f| %>
    <div class="mb-8">
      <h2>
        Company Information
      </h2>
    </div>

    <div class="space-y-12">
      <div class="border-b border-gray-900/10 pb-12">
        <div>
          <p class="mt-1 text-sm/6 text-gray-600">
            Please provide accurate information for AML compliance purposes.
          </p>

          <%= render "form", company: @company %>
        </div>
      </div>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
      <%= link_to "Cancel", clients_path,
          class: "text-sm/6 font-semibold text-gray-900" %>

      <%= f.button "Create Company",
          type: "submit",
          class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    </div>
  <% end %>
</div> 
