<% content_for :title, "#{@company.display_name}" %>

<div class="mx-auto space-y-8">
  <%= render "clients/client_header", clientable: @company %>
  <%= render "company_relationships/index", company: @company %>
</div>