<tr class="hover">
  <td class="w-1/3">
    <%= link_to prospect.display_name, prospect_path(prospect),
        class: "link link-primary line-clamp-2", data: { turbo: false } %>
  </td>

  <td>
    <div class="flex items-center justify-between">
      <div class="flex gap-2 ml-2">
        <% if prospect.pep? %>
          <span class="badge badge-warning badge-sm">
            PEP
          </span>
        <% end %>

        <% if prospect.sanctioned? %>
          <span class="badge badge-error badge-sm">
            Sanctioned
          </span>
        <% end %>

        <% if prospect.has_adverse_media? %>
          <span class="badge badge-warning badge-sm">
            Adverse Media Found
          </span>
        <% end %>
      </div>
    </div>
  </td>
</tr>