<div class="mt-4" data-controller="client-search">
  <%= form_with url: prospects_path, method: :get, data: { client_search_target: "form", turbo_frame: "search_results" } do |f| %>
    <%= f.hidden_field :nature, value: params[:nature] %>
    <div class="flex flex-col sm:flex-row gap-2">
      <div class="join flex-grow">
        <div class="join-item bg-base-200 flex items-center px-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 opacity-70" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
          </svg>
        </div>
        <%= f.text_field :query,
            value: params[:query],
            placeholder: "Search #{params[:nature] ? params[:nature].pluralize : 'prospects'}",
            class: "input input-bordered join-item flex-grow",
            data: {
              client_search_target: "input",
              action: "input->client-search#search keyup->client-search#clear"
            } %>
        <button type="submit" class="btn join-item">
          Search
        </button>
      </div>
      
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z" clip-rule="evenodd" />
          </svg>
          Filter
        </div>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
          <li><a>Status: All</a></li>
          <li><a>Status: PEP</a></li>
          <li><a>Status: Sanctioned</a></li>
          <li><a>Status: Adverse Media</a></li>
          <li><a>Status: Clear</a></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
