<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
  <table class="table table-zebra w-full">
    <thead>
      <tr>
        <th class="w-96 border-r border-base-content/5">
          Name
        </th>
        <th class="text-center">
          Screening
        </th>
      </tr>
    </thead>

    <tbody>
      <% if prospects.any? %>
        <% prospects.each do |prospect| %>
          <%= render "prospect", prospect: prospect %>
        <% end %>
      <% elsif params[:query].present? %>
        <tr>
          <td colspan="2" class="text-center text-base-content/60 italic py-8">
            No prospect found matching your search criteria.
          </td>
        </tr>
      <% else %>
        <tr>
          <td colspan="2" class="text-center text-base-content/60 italic py-8">
            Create your first prospect:
            <%= link_to "Create Person Prospect", new_person_path, class: "btn btn-primary btn-sm", data: { turbo: false } %>
            <%= link_to "Create Company Prospect", new_company_path, class: "btn btn-primary btn-sm", data: { turbo: false } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>