<div class="tabs tabs-bordered">
  <%= link_to "Persons", prospects_path(nature: 'person'),
      class: "tab #{params[:nature].nil? || params[:nature] == 'person' ? 'tab-active' : ''}" %>
  <%= link_to "Companies", prospects_path(nature: 'company'),
      class: "tab #{params[:nature] == 'company' ? 'tab-active' : ''}" %>
</div>
