<%= turbo_stream.update "prospects_table" do %>
  <%= render "prospects/table", prospects: @prospects %>
<% end %>

<%= turbo_stream.update "prospects_pagination" do %>
  <div class="p-4 border-b border-base-200">
    <%= render 'shared/pagination', collection: @prospects %>
  </div>
<% end %>
