<div class="container mx-auto p-6">
  <div class="flex items-center justify-between mb-8">
    <div class="flex items-center gap-3">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primary" viewBox="0 0 20 20" fill="currentColor">
        <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
      </svg>
      <h1 class="text-2xl font-bold">Edit Risk Factor Definition</h1>
    </div>
    
    <%= link_to admin_risk_factor_definitions_path, class: "btn btn-ghost btn-sm gap-2" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd" />
      </svg>
      Back to list
    <% end %>
  </div>

  <%= render "form", risk_factor_definition: @risk_factor_definition %>
</div>
