<div class="container mx-auto p-6">
  <h1 class="text-2xl font-bold mb-6">Edit Risk Factor Definition</h1>

  <%= render "form", risk_factor_definition: @risk_factor_definition %>

  <div class="mt-6">
    <%= link_to "Back to risk factor definitions", admin_risk_factor_definitions_path, class: "link link-primary" %>
  </div>
</div> 