<div class="max-w-3xl mx-auto p-6">
  <h1>Edit Risk Factor Definition</h1>

  <%= render "form", risk_factor_definition: @risk_factor_definition %>

  <div class="mt-6">
    <%= link_to "Back to risk factor definitions", admin_risk_factor_definitions_path, class: "text-blue-600 hover:text-blue-800" %>
  </div>
</div> 